
        <footer class="container-fluid">
        
          <div class="row justify-content-center align-items-center">
              <div class="col-auto">
                  <h3 class="brand">internnect</h3>
                  <p>Connecter les étudiants<br>avec leurs stages de rêve</p>
              </div>
              <div class="col-auto mt-3 mt-sm-0">
                  <h3>Pour les étudiants</h3>
                  <ul>
                      <li><a href="#">Parcourir les stages</a></li>
                      <li><a href="#">Ressources</a></li>
                      <li><a href="#">Stages enregistrés</a></li>
                  </ul>
              </div>
              <div class="col-auto mt-3 mt-sm-0">
                  <h3>Pour les entreprises</h3>
                  <ul>
                      <li><a href="#">Publier un stage</a></li>
                      <li><a href="#">Profils d'entreprise</a></li>
                  </ul>
              </div>
              <div class="col-auto mt-3 mt-sm-0">
                  <h3>Légal</h3>
                  <ul>
                      <li><a href="#">Politique de confidentialité</a></li>
                      <li><a href="#">Conditions d'utilisation</a></li>
                  </ul>
              </div>
          </div> 
          <hr>
          <p class="copyright">© 2025 interconnecter. Tous droits réservés.</p>
      </footer>